/* page editing */
.exhibit-editing .exhibit-editable:hover {
  border: 2px solid red;
}

.exhibit-editing .exhibit-editable:hover .exhibit-editable {
  margin: 20px;
}

.exhibit-edit-tab {
  position: absolute;
  top:0;
  right:0;
  z-index: 1000;
}

/* lens editing */

.lens-edit-lens-container {
    border: 2px solid black;
}
.lens-edit-lens-container [ex\:content]:after {
    content: attr(ex\:content);
}
.lens-edit-lens-container [ex\:content] {
}
.lens-edit-lens-container [ex\:content]:hover {
    border: 2px solid red;
}
.lens-edit-lens-container [ex\:src-content]:after {
    content: attr(ex\:src-content);
}
.lens-edit-lens-container [ex\:src-content]:before {
    content: attr(ex\:src-content);
}
.lens-edit-lens-container [ex\:src-content]:hover {
    border: 2px solid red;
}

div.exhibit-toolboxWidget-popup {
    display: none;
}

/* data editing */

.exhibit-editing-data [ex\:content]:hover {
    border: 2px solid red;
}

.exhibit-editing-data .exhibit-edit-content {
    background-color: rgb(255,255,99);
}