/* Main Navigation */
/* ideas drawn from */
/* http://www.ourtuts.com/create-a-drop-down-navigation-menu-with-html5-and-css3/ */

.topnav {
    width: 100%;
    margin:0px auto;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    border-left:1px solid #c4dbe7;
    border-right:1px solid #c4dbe7;
    border-top:1px solid #c4dbe7;
    border-bottom:2px solid #c4dbe7;
    z-index: 500
}

/*complicated incantations for gradient on topnav bar*/
.topnav {
background: rgb(242,246,248); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%,
    rgba(216,225,231,1) 38%, rgba(181,198,208,1) 60%,
    rgba(224,239,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,rgba(242,246,248,1)),
    color-stop(38%,rgba(216,225,231,1)),
    color-stop(60%,rgba(181,198,208,1)),
    color-stop(100%,rgba(224,239,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,246,248,1)
    0%,rgba(216,225,231,1) 38%,rgba(181,198,208,1)
    60%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,246,248,1)
    0%,rgba(216,225,231,1) 38%,rgba(181,198,208,1)
    60%,rgba(224,239,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,246,248,1)
    0%,rgba(216,225,231,1) 38%,rgba(181,198,208,1)
    60%,rgba(224,239,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(242,246,248,1)
    0%,rgba(216,225,231,1) 38%,rgba(181,198,208,1)
    60%,rgba(224,239,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
    /* IE6-9 */
}

/*needs to match height of topnav bar*/
.topnav-spacer {
    clear: both;
    height: 30px;
}

.topnav li {
    display:inline;
    font-size:14px;
    font-weight:bold;
    margin:0;
    padding:0;
    float:left;
    position:relative;
}

.topnav li span {
    padding:10px 25px;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border-right:1px solid #C2C2C2;
    border-top:1px solid #fff;
/*    background: #f5f5f5;*/
    
    -webkit-transition:color 0.2s linear, background 0.2s linear;       
    -moz-transition:color 0.2s linear, background 0.2s linear;  
    -o-transition:color 0.2s linear, background 0.2s linear;    
    transition:color 0.2s linear, background 0.2s linear;       
}

.topnav li span:hover {
    background:#f8f8f8;
    color:#282828;
    cursor: pointer;
}

.topnav li:hover > span {
    background:#fff;
    cursor: pointer;
}

.topnav li.title {
    float: right;
    border-left-style: none
}

